.main-area {
    text-align: center;
}

.main-area-bck {
    background-color: #4D4D4D;
}

.gip {
    color: white;
    font-size: 14pt;
}

#gip-answer {
    padding-bottom: 20px;
}

#away {
    background-color: #4D4D4D;

    font-size: 4vw;

    margin-top: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

#home {
    background-color: #4D4D4D;

    font-size: 4vw;

    margin-top: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

#teams-playing-txt {
    color: white;

    font-size: 3vw;

    padding-top: 1vw;
}

.teams-playing {
    color: white;

    padding-top: 2vw;
}

#away-score {
    font-size: 4vw;

    margin-top: 10vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

#home-score {
    font-size: 4vw;

    margin-top: 10vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.score {
    margin-right: 2vw;
    margin-top: 5vw;
}

@media only screen and (max-width: 680px) {

    .gip {
        font-size: 6vw;

        position: relative;
        top: 5vw;
    }

    #teams-playing-txt {
        color: white;
    
        position: relative;
        top: 10vw;

        font-size: 8vw;
    
        padding-top: 1vw;
    }

    #home {
        background-color: #4D4D4D;
    
        font-size: 13vw;

        position: relative;
        top: 20vw;
        left: 5vw;
        
    }
    
    #away {
        background-color: #4D4D4D;
    
        font-size: 13vw;
    
        position: relative;
        top: 20vw;
        right: 5vw;

        
    }

    #home-score {
        font-size: 45pt;

        position: relative;
        top: 25vw;
    
        margin-top: 40vw;
        margin-left: 20vw;
        margin-right: 5vw;
    }
    
    #away-score {
        font-size: 45pt;

        position: relative;
        top: 25vw;
    
        margin-top: 10vw;
        margin-left: 5vw;
        margin-right: 20vw;
    }
    
    .score {
        margin-right: 2vw;
        margin-top: 5vw;
    }


}