.main-area {
    text-align: center;
}

.main-area-bck {
    background-color: #4D4D4D;
}

.gip {
    color: white;
    font-size: 3vw;
}

#gip-answer {
    font-size: 5vw;
    padding-bottom: 20px;
}

#away {
    background-color: #4D4D4D;

    font-size: 8vw;

    margin-top: 10vw;
    margin-left: 10vw;
    margin-right: 12vw;
}

#home {
    background-color: #4D4D4D;

    font-size: 8vw;

    margin-top: 10vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

#teams-playing-txt {
    color: white;

    font-size: 3vw;

    padding-top: 1vw;
}

.teams-playing {
    color: white;

    padding-top: 2vw;
}

#away-score {
    font-size: 10vw;

    margin-top: 10vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

#home-score {
    font-size: 10vw;

    margin-top: 10vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.score {
    margin-right: 2vw;
    margin-top: 5vw;
}

#game-start-date {
    font-size: 5vw;
    margin-top: 10vw;
    padding-bottom: 1vw;
}

#at {
    font-size: 5vw;
    margin-top: 1vw;
    padding-bottom: 1vw;
}

#game-start-time {
    font-size: 5vw;
    margin-top: 1vw;
    padding-bottom: 5vw;
}

@media only screen and (max-width: 680px) {

    .gip {
        font-size: 6vw;

        position: relative;
        top: 5vw;
    }

    #teams-playing-txt {
        color: white;
    
        position: relative;
        top: 10vw;

        font-size: 8vw;
    
        padding-top: 1vw;
    }

    #home {
        background-color: #4D4D4D;
    
        font-size: 36pt;

        position: relative;
        top: 20vw;
    
        margin-top: 10vw;
        margin-left: 10vw;
        margin-right: 1vw;
    }
    
    #away {
        background-color: #4D4D4D;
    
        font-size: 35pt;
    
        position: relative;
        top: 20vw;

        margin-top: 10vw;
        margin-left: 1vw;
        margin-right: 13vw;
    }

    #home-score {
        font-size: 45pt;

        position: relative;
        top: 25vw;
    
        margin-top: 40vw;
        margin-left: 7vw;
        margin-right: 10vw;
    }
    
    #away-score {
        font-size: 45pt;

        position: relative;
        top: 25vw;
    
        margin-top: 40vw;
        margin-left: 8vw;
        margin-right: 20vw;
    }
    
    .score {
        margin-right: 2vw;
        margin-top: 5vw;
    }

    #game-start-date {
        font-size: 8vw;
        margin-top: 30vw;
        padding-bottom: 1vw;
        text-align: center;
    }

    #at {
        font-size: 6vw;
        margin-top: 1vw;
        padding-bottom: 1vw;
    }
    
    #game-start-time {
        font-size: 10vw;
        margin-top: 1vw;
        padding-bottom: 5vw;
    }

}